.red {
   color: #ff5b5b;
 }
 .bold {
   font-weight: bold;
 }
 
 .Button {
       background-color: blue;
       color: white;
       border: 1px black solid;
       padding: 16px;
       margin: 10px;
       cursor: pointer;
 }
 /* Will automatically apply these styles to all buttons inside our div with the className set to classes.Button */
 
 .Button:hover {
   background-color: lightblue;
   color: black;
 }
 
 .Button.Red {
   background-color: #ff5b5b;
   color: white;
 }
 .Button p:first-of-type {
    font-size: 40px;
    color: #ff5b5b
 }
 .Button.Red:hover {
   background-color: salmon;
   color: black;
 }