.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.red {
  color: red;
}
.bold {
  font-weight: bold;
}
